.List{
    display: flex;
    flex-direction: column;
    gap:20px
}

.List > h4 {
    color : #5e5d5d;
}

.List > input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding : 15px 0px;
}

.List > input:focus{
    outline: none;
    border-bottom: 1px solid #86D3B0;
}

.List .todos_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}